
  body {
    /* background-image: url("http://127.0.0.1/壁纸/images/2.png"); */
    width: 100%;
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
  }
